<h1>
    Products
</h1>
<p>
    <a [routerLink]="['/products/new']" class="btn btn-primary">New Product</a>
</p>

<div class="well">    
    <div class="form-group"><label for="Name">Name</label>
        <input type="text" id="name" class="form-control" [(ngModel)]="query.name" name="name" (change)="onFilterChange()">
    </div>
    <button class="btn btn-primary" (click)="resetFilter()">Reset</button>
</div>

<table class="table" *ngIf="queryResult && queryResult.items">
    <thead>
        <tr>
            <th *ngFor="let c of columns">
                <div>
                    {{ c.title }}
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let entity of queryResult.items">
            <td>{{entity.id}}</td>
            <td>{{entity.name}}</td>
            <td>{{entity.productionDate | date:'medium' }} </td>
            <td>{{entity.price | currency}}</td>
            <td>{{entity.productGroup.name}}</td>
            <td>
                <a [routerLink]="['/products/', entity.id]">View</a>
            </td>
        </tr>
    </tbody>
</table>

<pagination [total-items]="queryResult.totalItems" [page-size]="query.pageSize" (page-changed)="onPageChange($event)"></pagination>