@import "~bootstrap/dist/css/bootstrap.css";

/* You can add global styles to this file, and also import other style files */
.body-content {
    padding-top: 50px;
}

body {
    padding: 50px;
    margin: 10px;
}

.form-control.ng-touched.ng-invalid{
    border: 2px solid red;
}

button {
    margin: 10px !important;
}
